*{ margin: 0; padding: 0; }
        body { 
                font: 16px Helvetica, Sans-Serif; line-height: 24px; background: url(images/back2.jpg); 
                
        }
        .clear { 
                clear: both;
                }
        #page-wrap { 
                margin: 40px auto 60px;  width: 800px;
                
        }
        img { 
                padding:1px; border:8px solid #fff; float: right; -ms-transform: rotate(-4deg); /* IE 9 */
    -webkit-transform: rotate(-4deg); /* Chrome, Safari, Opera */
    transform: rotate(-4deg);
                
        }
        h1 { 
                margin: 0 0 14px 0; padding: 0 0 14px 0; letter-spacing: -2px; border-bottom: 1px solid #999; font-size: 42px; font-weight: bold; 
                }
        h2 { 
                 margin: 0 0 6px 0; font-size: 22px; position: relative;
                }
        h2 span {
                position: absolute; right: 0; bottom: 0;  font-style: italic; font-size: 16px; color: #999; font-family: Georgia, Serif;  font-weight: normal;
                }
        p { 
                margin: 0 0 16px 0;
                }
        a { 
                border-bottom: 1px dotted #999; color: #999; text-decoration: none;  
                
        }
        a:hover { 
                border-bottom-style: solid; color: black; 
                
        }
        ul { 
                margin: 0 0 32px 16px; 
                
        }
        #myobjective p { 
                font-family: Georgia, Serif; font-style: italic; color: #666; 
                
        }
        dt { 
                 padding: 0 26px 0 0; width: 150px; float: left; height: 100px; border-right: 1px solid #999; font-style: italic; font-weight: bold; font-size: 18px; text-align: right;
        }
        dd { 
                width: 600px; float: right;
                }
        dd.clear { 
                margin: 0; height: 14px; float: none;
                
        }
